<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../styles/reg_styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../src/logo.png" alt="Логотип">
        </div>
        <nav>
            <ul>
                <li><a href="../tilda/page48758861.html">Главная страница</a></li>
                <li><a href="../tilda/page48760289.html">Цены и акции</a></li>
                <li><a href="./reservation.html">Бронирование</a></li>
                <li><a href="./map.html">Карта клуба</a></li>
                <li><a href="./register.html">Регистрация</a></li>
                <li><a href="http://localhost:5000/logout">Войти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-text">Регистрация</div>
        </section>
        <section class="registration-form">
            <h1>Форма регистрации</h1>
            <form id="registration-form">
                <div class="form-group">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="surname">Фамилия:</label>
                    <input type="text" id="surname" name="surname" required>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </section>
    </main>
    <script>
        document.getElementById('registration-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('http://localhost:5000/register', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Регистрация успешно завершена!');
                } else {
                    alert('Ошибка: ' + data.error);
                }
            })
            .catch(error => console.error('Ошибка:', error));
        });
    </script>
</body>
</html>
